<h2 id="input_file">Регистрация</h2>
  <div class="col-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, "Электронная почта", :id => "signUP_form"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "Электронная почта", :class => 'form-control'%>
      </div>

      <div class="form-group ">
        <%= f.label :password, "Пароль", :id => "signUP_form" %>
        <% if @minimum_password_length %>
        <em id="signUP_form">(минимум <%= @minimum_password_length %> символов)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
      </div>
      <div class="form-group ">
        <%= f.label :password_confirmation,  "Повторите пароль", :id => "signUP_form" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Регистрировать", {:class => 'btn btn-outline-dark'} %>
      </div>
    <% end %>
    <div class="mt-2 md-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>