<div class="mt-5 md-5">
  <h2 id="input_file">Забыли свой пароль?</h2>
</div>
 <div class="col-6">
   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
     <%= render "devise/shared/error_messages", resource: resource %>
     <div class="mt-4 md-4">
       <div class="form-group">
         <%= f.label :email, "Электронная почта", :id => "signUP_form"%>
         <%= f.email_field :email, autofocus: true, autocomplete: "Электронная почта", :class => 'form-control' %>
       </div>
     </div>
     <div class="mt-4 md-4">
       <div class="actions">
         <%= f.submit "Сбросить пароль", {:class => 'btn btn-outline-dark'} %>
       </div>
     <% end %>
     <div class="mt-2 md-2">
       <%= render "devise/shared/links" %>
     </div>
   </div>
 </div>