<h2 id="input_file">Вход</h2>
<div class="col-6">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, "Электронная почта", :id => "signUP_form" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "Электронная почта", :class => 'form-control' %>
    </div>

    <div class="form-group ">
      <%= f.label :password, "Пароль", :id => "signUP_form" %><br />
      <%= f.password_field :password, autocomplete: "password", :class => 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'Запомнить', :class=>'input_file' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Войти" , {:class => 'btn btn-outline-dark'}%>
    </div>
  <% end %>
  <div class="mt-2 md-2">
    <%= render "devise/shared/links" %>
  </div>
</div>