<h3 class="post_name1"><%= @post.title%></h3>
<p class="date"><%= time_ago_in_words(@post.created_at) %></p>
<p><%= @post.body %></p>
<hr>

<%= link_to "Редактировать", edit_post_path(@post), :class => 'btn btn-outline-dark' %>
<%= link_to "Удалить", post_path(@post), method: :delete, data: {confirm: 'Удалить статью?'}, :class => 'btn btn-outline-dark' %>
<hr>

<h2><%= @post.comments.count %> Комментариев</h2>
<%= render @post.comments %>
<%= render 'comments/form' %>
