<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script  type = " text / javascript "  src = " trix.js " > </script >
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-xl">
      <a class="navbar-brand">BLOG ZLO</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample07XL">
        <ul class="navbar-nav mr-auto">
          <li>
            <a> <%= link_to "Главная страница", home_path, class: "nav-link" %></a>
          </li>
          <li>
            <a><%= link_to "Автор", about_path, class: "nav-link"%> </a>
          </li>
          <li>
            <a> <%= link_to "Новая статья", new_post_path, class: "nav-link"%></a>
          </li>
        </ul>
        <ul class="mt-3 md-3">
          <li><a href="https://github.com/HappyKate"><%= image_tag("icons8-github-48.png", :alt => "GITHUB", class: "icon") %></a></li>
          <li><a href="https://vk.com/id304033116"><%= image_tag("icons8-вконтакте-48.png", :alt => "VK", class: "icon") %></a></li>
          <li><a href="https://www.instagram.com/katerinka96.13/"><%= image_tag("icons8-instagram-48.png", :alt => "INST", class: "icon") %></a></li>
          <li><a href="mailto:zlaaayya@gmail.com"><%= image_tag("icons8-gmail-48.png", :alt => "GMAIL", class: "icon") %></a></li>
        </ul>
        <div class="actions">
          <%= link_to "Вход", user_session_path, class: 'btn btn-outline-light', id: 'sign_up' %>
        </div>
      </div>
    </div>
  </nav>
  <div class="container" id="head">
    <% if current_page?(home_path) %>
      <p>Все посты</p>
    <% elsif current_page?(about_path)%>
      <p>Автор</p>
    <%else %>
      <%= link_to"Вернуться ко всем постам", home_path, class: "head" %>
    <%end %>
  </div>
</header>

  <div class="container mt-4 md-4" id="content">
    <%= yield %>
  </div>
  <div class="footer mt-5 md-5">
    <div class="container" id="footer_size">
      <div class="footer_text">Разработка сайта - <a class="git" href="https://github.com/HappyKate">HappyKate</a>
      </div>
    </div>
  </div>
  </body>
</html>
